.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  color:white;

  .connectWallet{
    position:absolute;
    right:10px;
  }

}

.createTask{
  display: flex;
  justify-content: center;

  form{
    display: flex;
    justify-content: center;
    width:25rem;
    height: 30px;
  }
  
  button {
    background-color: #7EA3Cc;
    border:0;
    border-radius: 0 10px 10px 0;

    width:4rem;
    cursor:pointer;
    
  }

  input{
    border:none;
    outline: none;
    margin-right:1px;
    height: 100%;
    width:100%;padding-left: 10px;
    border-radius: 10px 0  0 10px;
    background-color: #7EA3CC;
  }
}

.tasks{
  display: flex;
  justify-content: center;
  ul {
    max-width:70%;
    min-width:calc(100vw - 50%);
    .task{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:20px;
      border-radius: 10px;
      background-color:#CCAD8F;
      color: #262626;
      font-weight: bold;
      button {
        outline: 0;
        background-color: #7EA3CC;
        border:none;
        padding:10px;
        border-radius: 10px;
        cursor:pointer;
        transition: .4s;
        &:hover{
          background-color: #4989d1;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        &:active{
          background-color: #1c77e0;
        }
      }
      & + li {
        margin-top:10px;
      }
    }
  }
}
